{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="signup-main">
<div class="signup-card">
  <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="signup-field">
    <div class="first_name">
      <label for="id_first_name">First Name</label>{{form.first_name}}
    </div>
    <div class="last_name">
      <label for="id_last_name">Last Name</label>{{form.last_name}}
    </div>
    <div class="username">
      <label for="id_username">Username</label>{{ form.username }}
    </div>
    <div class="email">
      <label for="id_email">Email</label>{{ form.email }}
    </div>
    <div class="phone">
      <label for="id_phone_nmbr">Phone</label>{{ form.phone_nmbr }}
    </div>
    <div class="pswrd">
      <label for="">Password</label>{{ form.password1 }}
    </div>
    <div class="pswrd">
      <label for="">Password Again</label>{{ form.password2 }}
    </div>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</div>


{% endblock %}
